<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head') %>
	</head>
	<link rel="stylesheet" href="/css/edit.css" />
	<body>
		<div class="container">
			<h1>Edit Product</h1>
			<form action="/products/<%=product._id%>?_method=PUT" method="POST">
				<div class="input-group mb-3">
					<label for="name">Name: </label>
					<input
						class="form-control"
						id="name"
						type="text"
						name="name"
						placeholder="product name"
						value="<%= product.name %>"
					/>
				</div>
				<div class="input-group mb-3 product-price">
					<label for="price">Unit Price: </label>
					<input
						class="form-control"
						id="price"
						type="number"
						step="any"
						name="price"
						placeholder="product price"
						value="<%= product.price %>"
					/>
				</div>
				<div class="input-group mb-3">
					<label for="category">Category:</label>
					<select class="form-select" id="category" name="category" id="">
						<% for(let category of categories){ %> <option
						value="<%=category%>" <%= product.category === category ?
						'selected' : ''%> /><%=category%> <% } %>
					</select>
				</div>
				<span>
					<button class="btn btn-success">Submit</button>
					<a class="btn btn-secondary" href="/products">Cancel</a>
				</span>
			</form>
		</div>
	</body>
</html>
